.new-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.google-logo {
  flex-shrink: 0;
  height: 231px;
  text-align: center;
}

.search-form {
  height: 39px;
  margin: 0 auto;
}

.search-box {
  background-color: #F1F3F4;
  border: none;
  border-radius: 22px;
  box-shadow: none;
  outline: none;
  opacity: 1;
  transition: background-color 300ms ease-in-out;
  transition: opacity 200ms;
  width: 560px;
  height: 44px;
  cursor: text;
  display: inline-block;
  position: relative;
  line-height: 36px;
}

.search-box:hover {
  background-color: rgb(232,234,237);
}

input[name="search-input"] {
  background: transparent;
  border: none;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0 22px;
  font: 18px arial,sans-serif;
  position: absolute;
  top: 1px;
  width: 100%;
  height: 100%;

}

input[name="search-input"]::placeholder {
  color: rgb(128,134,139);
  font-family: 'Roboto',arial,sans-serif;
  font-size: 14px;
  visibility: inherit;
}

input[name="search-input"]:focus::-webkit-input-placeholder { color:transparent; }
input[name="search-input"]:focus:-moz-placeholder { color:transparent; }
input[name="search-input"]:focus::-moz-placeholder { color:transparent; }
input[name="search-input"]:focus:-ms-input-placeholder { color:transparent; }

.icon-spch {
  margin-right: 6px;
  padding-right: 0;
  width: 28px;
  padding: 22px 7px 0;
  background: url(https://image.ibb.co/bzxE9z/googlevoice.png) no-repeat center;
  background-size: 24px 24px;
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 21px;
  outline: 0;
}

.most-visited {
    margin: 45px 0;
    width: 100%;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
}

.most-visited-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    line-height: normal;
    margin: 0;
    max-width: calc(112px * 5); 
    opacity: 1;
    position: static;
    text-align: auto;
    transition: opacity 1s;
    user-select: none;
    font-size: 0;
}

.visited-container {
  border-radius: 4px;
  box-sizing: border-box;
  height: 112px;
  margin-bottom: 16px;
  opacity: 1;
  position: relative;
  transition-property: background, background-color, border-color, box-shadow, opacity, text-shadow;
  width: 112px;
  outline: 0;
}

.visited-container:hover {
  background-color: rgba(33, 32, 36, 0.06);
}

.visited-container:hover .visited-menu {
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.visited-container a {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 16px 8px;
  outline: 0;
  height: 80%;
}

.visited-inner {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: -1;
}

.visited-icon {
      align-items: center;
    background-color: rgba(238, 238, 238, 0.712);
    display: flex;
    flex-shrink: 0;
    height: 48px;
    justify-content: center;
    margin-top: 16px;
    width: 48px;
    border-radius: 50%;

}

.visited-icon img {
    height: 28px;
    width: 28px;
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
}

.shortcut-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5; /* This is to provide a background color for transparent favicons */
}

.shortcut-image img {
  max-width: 100%;
  max-height: 100%;
}

.shortcut-label {
  margin-top: 10px;
}

.visited-title {
  color: rgba(33, 32, 36, 0.86);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 12px;;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  text-align: center;
  width: 96px;
  word-break: break-word;
  word-wrap: break-word;
}

.visited-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 20px;
    margin: 4px 2px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    outline: 0;
}

.visited-menu::after {
    -webkit-mask-image: url(https://svgur.com/i/8NA.svg);
    height: 20px;
    width: 20px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px;
    background-color: rgba(33, 32, 36, 0.55);
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}

.visited-menu:hover::after, .visited-menu:focus::after {
    background-color: rgba(33, 32, 36, 0.71);
}